<div>
    <app-carousel></app-carousel>
    <ul class="w-100 d-flex flex-wrap justify-content-evenly">
        <li *ngFor="let vhl of vehicles" class="card bg-warning col-12 col-md-4" style="width: 25rem;">
            <h2 class="card-title text-danger">{{vhl.marque}}</h2>
            <h2 class="text-danger">{{vhl.model}}</h2>
            <h2 class="text-danger">{{vhl.categorie}}</h2>
            
            <a routerLink="/detail/{{vhl.id}}"><img src="{{vhl.image}}" class="text-danger" style="width: 100%;"></a>

        </li>
    </ul>
</div>
