.cause1{
    background: center/cover no-repeat url('/assets/images/garage.jpeg');
}
.cause2{
    background: center/cover no-repeat url('/assets/images/mechanic.jpeg');
}
.cause3{
    background: center/cover no-repeat url('/assets/images/mobile.jpeg');
}