/* You can add global styles to this file, and also import other style files */
a{
    text-decoration: none;
    color:#111
}
a:hover{
    color: rgb(78, 67, 53);
}
img{
    object-fit: cover;
}
body{
    width: 100%;
    /* min-height: 100vh; */
    background-color: #212529;
    position: relative;
}
main{
    /* min-height: 100vh; */
    /* position: relative; */
    padding: 0 1.3rem;
    /* margin-top: 100px; */
}
section{
    min-height: 50vh;
    position: relative;
}
footer{
    min-height: 100px;
    background-color: #111;
    justify-content: center;
    color: azure;
}
                                                                    /* ======== HEADER ======= */
.header{
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: 0.6s cubic-bezier(0.47, 0, 0.75, 0.72);
}
.header.active {
    max-height: 75px;
    background: #4e545c;
    z-index: 100;
    transition: all 0.2s ease-out;
}
.dropdown-menu[data-bs-popper]{
    background: rgb(27, 27, 27);
    right: 10px;
    left: auto;

}
.dropdown-item{
    color: orange;
}
.dropdown-item:hover{
    color:rgb(185, 121, 0);
}
                                    /* ================== main page ============== */
.card{
    border: none;
}
.card>a>img{
    height: 200px;
}
.container{
    position: relative;
}                                                 /* ================== CAROUSEL ============== */
.carousel{
    box-shadow: 0 0 4px 2px rgb(56, 56, 56);
    z-index: -100;
    height: 350px;
}
.carousel-inner{
    height: 100%;
}
.carousel-item{
    height: 100%;
    position: relative;
    transition: 1s ease-out;
}
.carousel-item img{
    height: 100%;
    object-fit:cover;
    z-index: -100;
}
                                                    /* ================== Create Car ============== */
.new-car{
    position: fixed;
    width: 100px;
    height: 100px;
    right: 20px;
    bottom: 20px;
    padding: 1rem;
    border-radius: 50%;
    color: aqua;
    box-shadow: 0 0 12px 2px rgb(90, 88, 88);
}
.form-example>input{
    width: 60%;
}
.form-example>select{
    width: 60%;
}
.new-car:hover{
    transform: scale(0.9);
}
                                                    /* ================== LOGIN ============== */
.connect-form{
    width: 50%;
    border: 1px solid #222;
    border-radius: 0.5rem;
    background-color: rgba(119, 119, 119, 0.466);
}
.connect-form input{
    width: 100%;
    border-radius: 5px;
}
.login{
    /* background-color: #111; */
    margin-top: 50px;
}
#connect{
    width: 50%;
}
@media (max-width: 991px){
    #connect{
        width: 100%;
    }    
}
                                                /* ================== one car ============== */
#voitureDesc{
    width: 60%;
}
input[type='file']{
    color: transparent;
}
.card-text{
    max-height: 100px;
    overflow-y: scroll;
}
.one-car-body{
    width: 100%;
}
#output{
    display: block;
    width: 100%;
    object-fit: cover;
}
.cat-item{
    max-height: 500px;
}
.cat-button{
    height: fit-content;
}
.cat-img{
    width: 100%;
    object-fit: cover;
}
.logo{
    height: 50px;
}
                                            /* ================== Reserved car ============== */
.booked{
    position: relative;
}
.booked-car{
    z-index: -1;
}
.booked-text{
    position: absolute;
    width: 100%;
    background-color: rgb(180, 154, 168);
    top:45%;
    z-index: 10;
    transform: rotate(37deg);
}
                                             /* ================== all Cars ============== */
.all-cars{
    font-size: 1.5rem;
    transition: 0.7s;
}
.all-cars:hover{
    transform: scale(0.9);
}


                                        /* ====================== USER PAGE =========================== */

.user-name{
    text-decoration: underline;
}
.info-item{
    border: 1px solid rgb(89, 211, 211);
    border-radius: 1rem;
    padding: 1rem;
}
.reservation-item{
    border: 1px solid orange;
    padding: 1rem;
    border-radius: 1rem;
}
.avatar{
    display: inline-block;
    overflow: hidden;
    position: relative;
    margin-top: 4rem;
    width: 20vw;
    height: 20vw;
    border-radius: 100%;
    border: 6px solid #b3c9cb;
    position: relative;
    transition: border 0.5s linear;
}
.avatar-img{
    display: block;
    position: absolute;
    width: 100%;
    overflow: hidden;
}   
#camera{
    display: inline-block;
    position: absolute;
    width: 50%;
    opacity: 0;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
    -webkit-transform-style: preserve-3d;
}
.avatar:hover > #camera, #fileUpload{
    opacity: 1;
    cursor: pointer;
}  
#camera{
    -webkit-transition: 450ms cubic-bezier(.7,0,.36,1);
    transition: 350ms cubic-bezier(.7,0,.36,1);
}
#circle {
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 50% 50%;
    -webkit-transition: all 0.5s linear;
    stroke-dashoffset: 33px;
    stroke-dasharray: 33px; 
}
  
#cameraFrame {
    -webkit-transition: all 0.5s linear;
    stroke-dashoffset: 72px;
    stroke-dasharray: 72px; 
}
  
#plus {
    -webkit-transition: all 0.5s linear;
    stroke-dashoffset: 5px;
    stroke-dasharray: 5px; 
} 
.avatar:hover > #camera > #cameraFrame {
    stroke-dashoffset: 0; 
}
.avatar:hover > #camera > #circle {
    stroke-dashoffset: 0px; 
}
.avatar:hover > #camera > #plus {
    stroke-dashoffset: 0px; 
}
#userImg{
    opacity: 0;
    position: absolute;
    width: 100px;
    z-index: 1000;
}
@media (max-width: 991px){
    .avatar{
        width: 40vw;
        height: 40vw;
    }
}